<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Killing-Huachicol</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contacto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Servicios</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fas fa-user-circle"></i>{{BotonPrincipal}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown  dropdown-menu-right" role="menu">
          <div *ngIf="!sesion">
            <a class="dropdown-item waves-light" mdbWavesEffect ><app-login></app-login></a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{opcion2}} <i class="fas fa-user-plus"></i></a>
          </div>
          <div *ngIf="sesion">
            <a *ngIf="!miCuenta" class="dropdown-item waves-light" mdbWavesEffect (click)="miPagina()">{{opcion4}} <i class="fas fa-home"></i></a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="finalizarSesion()">{{opcion3}} <i class="fas fa-sign-out-alt"></i></a>
          </div>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
