<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark black scrolling-navbar intro-fixed-nav" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><strong>Killing - Huachicol</strong></a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
      <li class="nav-item">
        <a class="nav-link active waves-light" mdbWavesEffect href="#">
          <mdb-icon fas icon="house-damage" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="#nosotros">
          <mdb-icon fas icon="info-circle" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">Sobre Nosotros</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="#noticias">
          <mdb-icon fas icon="newspaper" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">Noticias</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="#servicios">
          <mdb-icon fas icon="cog" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">Servicios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="#contacto">
          <mdb-icon fas icon="envelope" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">Contacto</span>
        </a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user-circle" size="lg" class="green-text pr-1" aria-hidden="true"></mdb-icon>
          <span class="clearfix d-none d-sm-inline-block">{{BotonPrincipal}}</span>
        </a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
          <app-login></app-login>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
