<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Denuncia</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-mapa></app-mapa>
      <br>
      <br>
      <form (ngSubmit)="onSubmit(denunciaForm)" #denunciaForm ="ngForm">
        <div class="form-group">
          <label for="titulo">Título de la denuncia</label>
          <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titlo de tu denuncia" required [(ngModel)]="model.titulo" #titulo="ngModel">
          <div [hidden]="titulo.valid || titulo.pristine" class="alert alert-danger">
            Es necesario agregar un título
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción de la denuncia</label>
          <textarea name="descripcion" id="descripcion" rows="4" cols="80" class="form-control" placeholder="Descripcion de tu denuncia" required [(ngModel)]="model.descripcion" #descripcion="ngModel"></textarea>
          <div [hidden]="descripcion.valid || descripcion.pristine" class="alert alert-danger">
            Es necesario agregar una breve descripcion
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" [disabled]= "!denunciaForm.form.valid" (click)="onSubmit(denunciaForm);modal.dismiss('Cross click')">Envíar denuncia</button>
    </div>
  </div>

</ng-template>

 <button  type="button" class="btn btn-lg btn-outline-primary" (click)="open(content)">Denunciar</button>

<hr>
