<header class="h-100">
  <app-navbar></app-navbar>
  <!-- Main -->
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-black-light flex-center">
              <div class="container text-center white-text">
                  <div class="white-text text-left wow fadeInUp">
                      <p id="title">Killing Huachicol</p>
                      <br>
                      <br>
                      <p class="lead" id="frase">¿Haz visto algo sospechoso cerca de un ducto de Pemex? <br>o ¿Hay una fuga en un ducto de Pemex en tu localidad?... <br><strong>¡Denuncia!</strong> y ayuda a combatir este crimen.</p>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- /.Main -->
</header>
<main class="text-center py-5">
  <!-- About Section -->
  <section class="text-white mb-0" >
    <div class="container" id="nosotros">
      <h2 class="text-center text-uppercase mb-0" id="titulo-impar">Acerca de nosotros</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p id="intro"> Somos un grupo de seis estudiantes de ESCOM - IPN quienes desarrollamos ésta herramienta prototipo con la finalidad de ayudar a las autoridades a detener el robo de hidrocarburos por medio de mapas.</p>
          <br>
        </div>
        <div class="col-md-6">
          <p id="intro">Las alertas ciudadanas que se recapitulen por medio de ésta herramienta alertan a las autoridades correspodientes para la toma de decisiones, haciendo uso de la información recabada de las denuncias ciudadanas.</p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Cesar</h4>
        </div>
        <div class="col-md-4">
          <h4>Fernanda</h4>
        </div>
        <div class="col-md-4">
          <h4>Alan</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Mauricio</h4>
        </div>
        <div class="col-md-4">
          <h4>Dennise</h4>
        </div>
        <div class="col-md-4">
          <h4>Miguel</h4>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="text-white mb-0" >
    <div class="container" id="noticias">
      <h2 class="text-center text-uppercase mb-0" id="titulo-par">Noticias</h2>
      <br>
      <br>
      <div class="row alin-items-center justify-content-center">
        <div class="col-md-6 col-lg-4">
          <!--a class="twitter-timeline" data-width="650" data-height="650" data-theme="white" data-link-color="#FAB81E" href="https://twitter.com/Pemex?ref_src=twsrc%5Etfw">Tweets by Pemex</a-->
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="text-white mb-0">
    <div class="container" id="servicios">
      <h2 class="text-center text-uppercase mb-0" id="titulo-impar">Servicios</h2>
      <br>
      <br>
      <app-servicios></app-servicios>
    </div>
  </section>
  <br>
  <br>
  <!-- Contact Section -->
  <section class="text-white mb-0">
    <div class="container" id="contacto">
      <h2 class="text-center text-uppercase mb-0" id="titulo-par">¡Contactanos!</h2>
      <br>
      <br>
      <div class="row alin-items-center justify-content-center">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Nombre</label>
                <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor, ingresa tu nombre.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email</label>
                <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Por favor, ingresa tu email.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Mensaje</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Por favor, ingresa tu mensaje."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-xl" id="sendMessageButton">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <!-- Footer -->
  <footer class="footer text-center" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md mb mb-lg" id="titulo-impar">
          <h4 class="text-uppercase mb-1">Ubicacion</h4>
          <p class="lead mb-0">ESCOM
          <br>Av. Juan de Dios Bátiz S/N, Nueva Industrial Vallejo, 07738 Ciudad de México, CDMX</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright py-1 text-center text-blue">
    <div class="container">
      <small>Copyright &copy; Killing Huachicol 2019</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-orange rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</main>
